
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


@import "tailwindcss";


:root{
  --font-display: "Urbanist",sans-serif;
  --breakpoint-3xl: 1920px;
  --color-primary: #FF9324;
}

@layer base{
  html{
    font-family: var(--font-display);
  }
  body{
     background-color: #fcfbfc;
     overflow-x: hidden;
  }
}

.custom-scrollbar::-webkit-scrollbar{
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb{
 background-color: rgba(100,100,100,0.4);
 border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-track{
  background: transparent;
}

@layer utilities{
  @keyframes text-shine {
    0%{
      background-position: 0% 50%;
    }
     100%{
      background-position: 100% 50%;
    }
  }
  .animate-text-shine{
    animation: text-shine 3s ease-in-out infinite alternate;
  }
   @keyframes blob1 {

   }
}
/* .input-box{
  @apply w-full flex justify-between gap-3 text-sm text-black bg-gray-50/50 rounded px-4 py-3 mb-4 mt-3 border border-gray-100 outline-none focus-within:border-orange-300
}
.btn-primary{
  @apply w-full flex items-center justify-center gap-3 text-sm font-medium text-white bg-black shadow-lg rounded px-4 py-3 mb-4 mt-3 border border-gray-100 outline-none focus-within:border-orange-300
}
.btn-small{
  @apply w-full flex items-center justify-center gap-3 text-sm font-semibold text-white rounded-lg px-7 py-2 hover:bg-black hover:text-white transition-colors cursor-pointer
} */